In [16]:

# Python SQL toolkit and Object Relational Mapper# Pytho 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

import pandas as pd

In [47]:
from flask import (
    Flask,
    render_template,
    jsonify,
    redirect)

from flask_sqlalchemy import SQLAlchemy

In [48]:
app = Flask(__name__)

In [53]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///Belly_Button_Biodiversity/db/belly_button_biodiversity.sqlite"

db = SQLAlchemy(app)

C:\Users\supri\Anaconda3\envs\pythondata\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [54]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [55]:
session = Session(engine)

In [56]:
inspector = inspect(engine)
inspector.get_table_names()

['otu', 'samples', 'samples_metadata']

In [57]:
columns = inspector.get_columns('otu')
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
lowest_taxonomic_unit_found TEXT

In [70]:
columns = inspector.get_columns('samples')
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
BB_940 INTEGER
BB_941 INTEGER
BB_943 INTEGER
BB_944 INTEGER
BB_945 INTEGER
BB_946 INTEGER
BB_947 INTEGER
BB_948 INTEGER
BB_949 INTEGER
BB_950 INTEGER
BB_952 INTEGER
BB_953 INTEGER
BB_954 INTEGER
BB_955 INTEGER
BB_956 INTEGER
BB_958 INTEGER
BB_959 INTEGER
BB_960 INTEGER
BB_961 INTEGER
BB_962 INTEGER
BB_963 INTEGER
BB_964 INTEGER
BB_966 INTEGER
BB_967 INTEGER
BB_968 INTEGER
BB_969 INTEGER
BB_970 INTEGER
BB_971 INTEGER
BB_972 INTEGER
BB_973 INTEGER
BB_974 INTEGER
BB_975 INTEGER
BB_978 INTEGER
BB_1233 INTEGER
BB_1234 INTEGER
BB_1235 INTEGER
BB_1236 INTEGER
BB_1237 INTEGER
BB_1238 INTEGER
BB_1242 INTEGER
BB_1243 INTEGER
BB_1246 INTEGER
BB_1253 INTEGER
BB_1254 INTEGER
BB_1258 INTEGER
BB_1259 INTEGER
BB_1260 INTEGER
BB_1264 INTEGER
BB_1265 INTEGER
BB_1273 INTEGER
BB_1275 INTEGER
BB_1276 INTEGER
BB_1277 INTEGER
BB_1278 INTEGER
BB_1279 INTEGER
BB_1280 INTEGER
BB_1281 INTEGER
BB_1282 INTEGER
BB_1283 INTEGER
BB_1284 INTEGER
BB_1285 INTEGER
BB_1286 INTEGER
BB_1287 INTEGER
BB_1288 INTEGER
BB_1289 INTEGER
BB_1290 INTEGER
BB_1291 INTEGER
BB_1292 INTEGER
BB_1293 INTEGER
BB_1294 INTEGER
BB_1295 INTEGER
BB_1296 INTEGER
BB_1297 INTEGER
BB_1298 INTEGER
BB_1308 INTEGER
BB_1309 INTEGER
BB_1310 INTEGER
BB_1374 INTEGER
BB_1415 INTEGER
BB_1439 INTEGER
BB_1441 INTEGER
BB_1443 INTEGER
BB_1486 INTEGER
BB_1487 INTEGER
BB_1489 INTEGER
BB_1490 INTEGER
BB_1491 INTEGER
BB_1494 INTEGER
BB_1495 INTEGER
BB_1497 INTEGER
BB_1499 INTEGER
BB_1500 INTEGER
BB_1501 INTEGER
BB_1502 INTEGER
BB_1503 INTEGER
BB_1504 INTEGER
BB_1505 INTEGER
BB_1506 INTEGER
BB_1507 INTEGER
BB_1508 INTEGER
BB_1510 INTEGER
BB_1511 INTEGER
BB_1512 INTEGER
BB_1513 INTEGER
BB_1514 INTEGER
BB_1515 INTEGER
BB_1516 INTEGER
BB_1517 INTEGER
BB_1518 INTEGER
BB_1519 INTEGER
BB_1521 INTEGER
BB_1524 INTEGER
BB_1526 INTEGER
BB_1527 INTEGER
BB_1530 INTEGER
BB_1531 INTEGER
BB_1532 INTEGER
BB_1533 INTEGER
BB_1534 INTEGER
BB_1535 INTEGER
BB_1536 INTEGER
BB_1537 INTEGER
BB_1539 INTEGER
BB_1540 INTEGER
BB_1541 INTEGER
BB_1542 INTEGER
BB_1543 INTEGER
BB_1544 INTEGER
BB_1545 INTEGER
BB_1546 INTEGER
BB_1547 INTEGER
BB_1548 INTEGER
BB_1549 INTEGER
BB_1550 INTEGER
BB_1551 INTEGER
BB_1552 INTEGER
BB_1553 INTEGER
BB_1554 INTEGER
BB_1555 INTEGER
BB_1556 INTEGER
BB_1557 INTEGER
BB_1558 INTEGER
BB_1561 INTEGER
BB_1562 INTEGER
BB_1563 INTEGER
BB_1564 INTEGER
BB_1572 INTEGER
BB_1573 INTEGER
BB_1574 INTEGER
BB_1576 INTEGER
BB_1577 INTEGER
BB_1581 INTEGER
BB_1601 INTEGER

In [59]:
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

#     # Return a list of the column names (sample names)
#     return jsonify(list(df.columns)[2:])

In [14]:
Samples_Metadata = Base.classes.samples_metadata
Samples = Base.classes.samples

In [17]:
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

In [20]:
list(df.columns)[2:]

['BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [21]:
stmt

In [41]:
def sample_metadata(sample):
    sel = [
            Samples_Metadata.SAMPLEID,
            Samples_Metadata.ETHNICITY,
            Samples_Metadata.GENDER,
            Samples_Metadata.AGE,
            Samples_Metadata.LOCATION,
            Samples_Metadata.BBTYPE,
            Samples_Metadata.WFREQ,
        ]

    sample = 1507

    results = session.query(*sel).filter(Samples_Metadata.SAMPLEID == sample).all()

            # Create a dictionary entry for each row of metadata information
    sample_metadata = {}

    for result in results:
                sample_metadata["SAMPLEID"] = result[0]
                sample_metadata["ETHNICITY"] = result[1]
                sample_metadata["GENDER"] = result[2]
                sample_metadata["AGE"] = result[3]
                sample_metadata["LOCATION"] = result[4]
                sample_metadata["BBTYPE"] = result[5]
                sample_metadata["WFREQ"] = result[6]

    print(sample_metadata)

    return jsonify(sample_metadata)

In [42]:
sample_metadata(940)

{'SAMPLEID': 1507, 'ETHNICITY': 'Caucasian', 'GENDER': 'F', 'AGE': 46, 'LOCATION': 'NC', 'BBTYPE': 'I', 'WFREQ': 0}

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.

In [60]:
stmt = db.session.query(Samples).statement

# df = pd.read_sql_query(stmt, db.session.bind)

#     # Filter the data based on the sample number and
#     # only keep rows with values above 1
#     sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]
#     # Format the data to send as json
#     data = {
#         "otu_ids": sample_data.otu_id.values.tolist(),
#         "sample_values": sample_data[sample].values.tolist(),
#         "otu_labels": sample_data.otu_label.tolist(),
#     }

In [68]:
df = pd.read_sql_query(stmt, db.session.bind)
df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
sample = "BB_940"
# sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]
sample_data = df.loc[df[sample] > 1, ["otu_id", sample]]

    # Format the data to send as json
data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
#         "otu_labels": sample_data.otu_label.tolist(),
    }

C:\Users\supri\Anaconda3\envs\pythondata\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [72]:
sample_data

      otu_id  otu_label  BB_940
40        41        NaN      71
120      121        NaN       2
158      159        NaN       2
164      165        NaN      12
169      170        NaN       2
188      189        NaN      47
257      258        NaN       2
258      259        NaN       2
306      307        NaN       7
339      340        NaN       2
341      342        NaN       2
351      352        NaN      50
356      357        NaN       2
411      412        NaN       2
481      482        NaN     113
512      513        NaN       2
724      725        NaN       2
829      830        NaN      10
832      833        NaN       3
873      874        NaN      36
906      907        NaN       3
943      944        NaN      19
1166    1167        NaN     163
1168    1169        NaN       2
1188    1189        NaN      51
1192    1193        NaN       6
1207    1208        NaN       5
1231    1232        NaN       2
1273    1274        NaN       4
1313    1314        NaN       3
...      ...        ...     ...
2185    2186        NaN       3
2187    2188        NaN       2
2190    2191        NaN      28
2234    2235        NaN       2
2243    2244        NaN      14
2246    2247        NaN      11
2263    2264        NaN      78
2274    2275        NaN      22
2290    2291        NaN       2
2317    2318        NaN      40
2334    2335        NaN       3
2341    2342        NaN       2
2349    2350        NaN       2
2395    2396        NaN      11
2418    2419        NaN      13
2474    2475        NaN       2
2482    2483        NaN       2
2490    2491        NaN       2
2545    2546        NaN       2
2570    2571        NaN       2
2721    2722        NaN       8
2736    2737        NaN       4
2738    2739        NaN       4
2781    2782        NaN      12
2810    2811        NaN      13
2858    2859        NaN     126
2907    2908        NaN       7
2935    2936        NaN       3
2963    2964        NaN      10
3449    3450        NaN      37

[80 rows x 3 columns]